
*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,p,h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: #444;
}
main{
  height:90vh;
}
/*---------- HEADER ----------------*/
.main-header{
  height: 50px;
  background: #f0f0f0;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skip-to-content-link {
  background: #f0f0f0;
  color: #fff;
  font-weight: 700;
  left: 50%;
  padding: 4px;
  position: absolute;
  transform: translateY(-150%);
}

.skip-to-content-link:focus {
  transform: translateY(0%);  
}