{%- for collection in collections -%}

  {%- if collection.title == 'home' -%}
    {{ section.settings.test | capitalize }} text!!!
    <h1 class="test-snippet">{{ collection.products.length }} products in the {{ collection.title }} collection</h1>
  {%- endif -%}
{%- endfor -%}