<footer id="footer" class="footer">
  <h1>{{ section.settings.footer_name }}</h1>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "text",
        "id": "footer_name",
        "default": "This is footer",
        "label": "footer name"
      }
    ]
  }
{% endschema %}