<header class="main-header">
  <h1>{{ section.settings.header_name }}</h1>
</header>  


{% schema %}
{
  "name": "Header",
  "class": "main-header",
  "settings": [
    {
      "type": "text",
      "id": "header_name",
      "default": "This is header",
      "label": "header name"
    }
  ],
  "presets": [
    {
      "name": "HEader"
    }
  ]
}
{% endschema %}
