<section class="hero">
  <h1>{{ section.settings.hero_name }}</h1>
</section>

{% schema %}
  {
    "name": "hero",
    "settings": [
      {
        "type": "text",
        "id": "hero_name",
        "label": "Hero",
        "default": "Hero"
      }
    ],
    "presets": [
      {
        "name": "Herooooo"
      }
    ]
  }
{% endschema %}